@font-face {
    font-family: "Colaborate Medium";
    src: url("../fonts/Colaborate-Medium.ttf");
    src:
            url("../fonts/Colaborate-Medium.woff") format("woff"),
            url("../fonts/Colaborate-Medium.woff2") format("woff2"),
            url("../fonts/ColabMed.otf") format("opentype"),
            url("../fonts/Colaborate-Medium.svg#Colaborate-Medium") format("svg");
}

@font-face {
    font-family: "Colaborate Regular";
    src: url("../fonts/Colaborate-Regular.ttf");
    src:
            url("../fonts/Colaborate-Regular.woff") format("woff"),
            url("../fonts/Colaborate-Regular.woff2") format("woff2"),
            url("../fonts/ColabReg.otf") format("opentype"),
            url("../fonts/Colaborate-Regular.svg#Colaborate-Regular") format("svg");
}