body {
    margin:0 auto;
    --blanco: #F6F5F5;
    --gris-claro: #E8E8E7;
    --gris-medio: #6D6C6C;
    --gris-oscuro: #333333;
    --rojo-carmesi: #981914;
    --rojo-pasion: #B91817;
    --col-medium: "Colaborate Medium";
    --col-regular: "Colaborate Regular";
    background-color: var(--gris-claro);
    font-family: var(--col-regular);
}

h3 {
    font-family: var(--col-regular)
}

.dvContenedorGeneral {
    display:inline-block;
    width:100%;

}

.dvMenuSuperior {
    background-color:var(--gris-oscuro);
    color:var(--blanco);
    font-size:1.5rem;
    letter-spacing:0.3px;
    padding:1rem 5%;
    font-family: var(--col-medium);
}

.iconoMenuRight {
    float:right;
    width:20px;
}

.dvColLeft {
    float:left;
    width: calc(25% - 2px - 2rem);
    border-right:solid 2px var(--gris-oscuro);
    padding: 1rem;
}

.dvColCenter {
    float:left;
    width:calc(50% - 2rem);
    padding: 1rem;
}
.dvColRight {
    float:left;
    width: calc(25% - 2px - 2rem);
    border-left:solid 2px var(--gris-oscuro);
    padding: 1rem;
}

.dvResumentPerfil {
   border: solid 2px var(--rojo-carmesi);
    border-radius:5px;
    padding:1rem;
}

.dvImagenPerfil {
    display:inline-block;
    width:100%;
    text-align:center;
    margin-bottom:2rem;
}

.dvImagenPerfil img {
    max-width:70%;
    border-radius:50%;
    border:solid 1px var(--rojo-pasion);
    box-shadow: 3px 3px 7px 5px var(--gris-oscuro);
}